@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-brand-50: 238 242 255;
    --color-brand-100: 224 231 255;
    --color-brand-200: 199 210 254;
    --color-brand-300: 165 180 252;
    --color-brand-400: 129 140 248;
    --color-brand-500: 99 102 241;
    --color-brand-600: 79 70 229;
    --color-brand-700: 67 56 202;
    --color-brand-800: 55 48 163;
    --color-brand-900: 49 46 129;
    --color-brand-950: 30 27 75;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }
    [x-cloak] {
        display: none !important;
    }
    body {
        @apply bg-gray-50 text-gray-900 antialiased;
    }
}

@layer components {
    .container-app {
        @apply mx-auto w-full max-w-7xl px-4 sm:px-6 lg:px-8;
    }
}
